.approval-table {
  text-align: left;
  width: 100%;
  border-spacing: 0;
  /* padding: 0 5rem; */
}

.approval-table td,
.approval-table th {
  padding: 1rem;
}

.approval-table tbody tr:nth-child(odd) {
  background-color: #25252542;
}
.approval-table tbody tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.148);
}

.approval-table ion-icon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.4rem;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}

.approval-table td:first-child {
  font-size: 0.9rem;
}
